
/* css */
p, li {
  color: #120a6a;
}
/* to link to a specific class use dot(.) */

.ramones {
  font-family: 'Source Sans Pro', sans-serif;
}
.text {
  font-family: 'Source Sans Pro', sans-serif;
}

.container{
  background-color: #dae0d3
}
