
/* css */
p, li {
  color: #120a6a;
  font-family: 'Source Sans Pro', sans-serif;
}
/* to link to a specific class use dot(.) */
h1 {
  font-size: 250px
}

.ramones {
  font-family: 'Source Sans Pro', sans-serif;
}

.container {
  background-color: #dae0d3
}

/* use the .stack class to overlap text */
.stack1{
  position: absolute;
}
.stack2{
  position: absolute;
}
.stack3{
  position: absolute;
}
.stack4{
  position: absolute;
}
.stack5{
  position: absolute;
}
.stack6 {
  position: absolute;
}

/* the #1586b5 ramones */
.blue {
  mix-blend-mode: multiply;
  z-index: -1;
  color: #1586b5;
}

/* the #bb117b ramones */
.pink {
  mix-blend-mode: multiply;
  z-index: 1;
  color: #bb117b;
}

/* the different offsets for each of the "ramones" */
.one {
  top : 20px;
}

.two {
  top : 15px;
}

.three {
  top : 10px;
}

.four {
  top : 5px;
}

.five {
  top : 2px;
}
